[project]
name = "red_utils"
version = "0.1.6"
description = "Collection of utility scripts/functions that I use frequently."
authors = [
    { name = "redjax", email = "none@none.com" },
]
dependencies = [
    "msgpack>=1.0.5",
    "loguru>=0.7.0",
    "httpx>=0.24.1",
    "diskcache>=5.6.1",
]
requires-python = ">=3.11"
readme = "README.md"

[project.license]
text = "MIT"

[project.urls]
Homepage = "https://github.com/redjax/red-utils"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm.dev-dependencies]
dev = [
    "ruff>=0.0.278",
    "pytest>=7.4.0",
    "black>=23.7.0",
    "python-semantic-release>=7.34.6",
    "pdm-bump>=0.7.1",
]

[tool.pdm.scripts.check]
cmd = "black ."

[tool.pdm.scripts.format]
cmd = "ruff check . --fix"

[tool.pdm.scripts.export]
cmd = "pdm export --prod -o requirements.txt --without-hashes"

[tool.pdm.scripts.export-dev]
cmd = "pdm export -d -o requirements.dev.txt --without-hashes"
