[project]
name = "red_utils"
version = "0.2.13"
description = "Collection of utility scripts/functions that I use frequently."
authors = [
    { name = "redjax", email = "none@none.com" },
    { name = "redjax", email = "jackenyon@gmail.com" },
]
dependencies = [
    "diskcache>=5.6.1",
    "loguru>=0.7.0",
    "msgpack>=1.0.5",
    "httpx>=0.24.1",
    "pendulum>=2.1.2",
    "rich>=13.5.3",
]
requires-python = ">=3.11"
readme = "README.md"

[project.license]
text = "MIT"

[project.urls]
Repository = "https://github.com/redjax/red-utils"

[project.optional-dependencies]
standard = [
    "diskcache>=5.6.1",
    "loguru>=0.7.0",
    "httpx>=0.24.1",
    "pendulum>=2.1.2",
    "rich>=13.5.3",
    "msgpack>=1.0.5",
    "sqlalchemy>=2.0.21",
]
all = [
    "diskcache>=5.6.1",
    "fastapi>=0.100.0",
    "uvicorn[standard]>=0.23.0",
    "loguru>=0.7.0",
    "httpx>=0.24.1",
    "msgpack>=1.0.5",
    "pendulum>=2.1.2",
    "sqlalchemy>=2.0.21",
    "arrow>=1.3.0",
]
fastapi = [
    "fastapi>=0.103.1",
    "sqlalchemy>=2.0.21",
    "loguru>=0.7.2",
    "httpx>=0.25.0",
    "msgpack>=1.0.5",
    "uvicorn>=0.23.2",
    "pendulum>=2.1.2",
]
http = [
    "httpx>=0.25.0",
    "diskcache>=5.6.3",
    "loguru>=0.7.2",
    "pendulum>=2.1.2",
    "msgpack>=1.0.5",
    "pendulum>=2.1.2",
]
"ci.lint" = [
    "ruff>=0.1.7",
    "black>=23.12.0",
]
arrow = [
    "arrow>=1.3.0",
]

[tool.pdm.dev-dependencies]
dev = [
    "ruff>=0.0.278",
    "pytest>=7.4.0",
    "black>=23.7.0",
    "pre-commit>=3.3.3",
    "pdm-bump>=0.7.3",
]

[tool.pdm.scripts.git-prune-tags]
cmd = "git fetch --prune origin '+refs/tags/*:refs/tags/*'"

[tool.pdm.scripts.lint]
shell = "pdm run black . && pdm run ruff check . --fix"

[tool.pdm.scripts.lint-ci]
shell = "pdm run black . && RUFF_CONFIG=ruff.ci.toml pdm run ruff check . --fix"

[tool.pdm.scripts.check]
cmd = "black ."

[tool.pdm.scripts.format]
cmd = "ruff check . --fix"

[tool.pdm.scripts.export]
shell = "pdm export --prod -o requirements.txt --without-hashes"

[tool.pdm.scripts.export-dev]
shell = "pdm export -d -o requirements.dev.txt --without-hashes"

[tool.pdm.scripts.export-ci]
shell = "pdm export -d -o requirements.ci.txt --without-hashes"

[tool.pdm.scripts.create-major-release]
shell = "pdm bump major && pdm bump tag && pdm lock && pdm build && git push --tags"

[tool.pdm.scripts.create-minor-release]
shell = "pdm bump minor && pdm bump tag && pdm lock && pdm build && git push --tags"

[tool.pdm.scripts.create-micro-release]
shell = "pdm bump micro && pdm bump tag && pdm lock && pdm build && git push --tags"

[tool.pdm.scripts.upload-pypi]
shell = "pdm lock && pdm publish --repository pypi --verbose"

[tool.pdm.scripts.upload-pypi-test]
shell = "pdm lock && pdm publish --repository testpypi --verbose"
