[project]
name = "red_utils"
version = "0.1.6"
description = "Collection of utility scripts/functions that I use frequently."
authors = [
    { name = "redjax", email = "none@none.com" },
]
dependencies = [
    "msgpack>=1.0.5",
    "loguru>=0.7.0",
    "httpx>=0.24.1",
    "diskcache>=5.6.1",
    "self>=2020.12.3",
]
requires-python = ">=3.11"
readme = "README.md"

[project.license]
text = "MIT"

[project.urls]
Homepage = "https://github.com/redjax/red-utils"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm.dev-dependencies]
dev = [
    "ruff>=0.0.278",
    "pytest>=7.4.0",
    "black>=23.7.0",
    "python-semantic-release>=7.34.6",
    "pdm-bump>=0.7.1",
]

[tool.pdm.scripts.check]
cmd = "black ."

[tool.pdm.scripts.format]
cmd = "ruff check . --fix"

[tool.pdm.scripts.export]
cmd = "pdm export --prod -o requirements.txt --without-hashes"

[tool.pdm.scripts.export-dev]
cmd = "pdm export -d -o requirements.dev.txt --without-hashes"

[tool.semantic_release]
## version location
version_variable = ["red-utils/__init__.py:__version__", "pyproject.toml:version"]
## branch to make releases of
branch = "feat/ci"
## changelog file
# changelog_file = "CHANGELOG.md"
build_command = "pdm build"
## where to put dists
dist_path = "dist/"
## auto-create GitHub release
upload_to_release = true
## don't auto-upload to PyPI
upload_to_pypi = false
## don't remove dists
remove_dist = false
## patch release by default
patch_without_tag = true
